body {
	font-family: Arial;
	font-size: 20px;
}

label {
	margin: 8px;
}

div {
	padding: 8px;
}


.myimage {
	margin: 18px;
}

.mydropdownlist {
	/*color: #fff;*/
	width : 400px; 
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 5px;
	/*background-color: khaki;*/
	font-weight: 100;
}

	.mydropdownlist:hover {
		background-color: #f1f1f1;
	}