<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <connectionStrings>
    <add name="emissionsDBtest" connectionString="Server=.\SQLEXPRESS;Database=emissionsDBtest;Trusted_Connection=True;" providerName="System.data.SqlClient" />
    <add name="emissionsDb" connectionString="Server=.\SQLEXPRESS;Database=Emissions;Trusted_Connection=True;" providerName="System.data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="pollInterval" value="10000" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EmissionsWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="EmissionsWebServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44383/EmissionsWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="EmissionsWebServiceSoap"
        contract="WebServiceReference.EmissionsWebServiceSoap" name="EmissionsWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>