<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="emissionsDBtest" connectionString="Server=.\SQLEXPRESS;Database=emissionsDBtest;Trusted_Connection=True;" providerName="System.data.SqlClient"/>
    <add name="emissionsDb" connectionString="Server=.\SQLEXPRESS;Database=Emissions;Trusted_Connection=True;" providerName="System.data.SqlClient"/>
  </connectionStrings>
</configuration>