@{
    ViewData["Title"] = "Result Page";
}
 
<h2>View Details</h2>
 
<strong>Source</strong> : @ViewData["Source"]<br />
<strong>Sensor</strong> : @ViewData["Sensor"]<br />
<strong>Parametr</strong> : @ViewData["Parametr"]<br />
<strong>Value</strong> : @ViewData["Value"]<br />