@{
    ViewData["Title"] = "Result Page";
}
  
<strong>Источник выбросов</strong> : @ViewData["source"]<br />
<strong>Датчик</strong> : @ViewData["sensor"]<br />
<strong>Параметр</strong> : @ViewData["parameter"]<br />
<strong>Значение</strong> : @ViewData["value"]<br />

<div class="btn">
    <a href="/"> На главную </a>
</div>