@{
    ViewData["Title"] = "Home Page";
    var SourceData = ViewData["source_data"] as List<string>;
    var SensorData = ViewData["sensor_data"] as List<string>;
    var ParameteresData = ViewData["parameter_data"] as List<string>;
}

<div class="text-center">
    <form action="/Home/Create" method="post">
        <label>Источник выбросов:</label>
        <select name="source">
        @foreach (var source in SourceData)
        {
            <option>@source</option>
        }
        </select>

        <label>Датчик:</label>
        <select name="sensor">
        @foreach (var sensor in SensorData)
        {
            <option>@sensor</option>
        }
        </select>

        <label>Параметр:</label>
        <select name="parameter">
        @foreach (var param in ParameteresData)
        {
            <option>@param</option>
        }
        </select>

        <label>Значение:</label>
        <input type="text" name="value"><br><br>
     
        <input type="submit" value="Create">
    </form> 
</div>
